<!DOCTYPE html>
<html lang="pt-BR">
{%load static%}
<!--Barra de navegação-->
{%include "model-nav.html"%}
<!--Carrega a paginação da pesquisa-->
{%load app_extras%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pesquisa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var dataMax = new Date();
        var dia = dataMax.getDate();
        var mes = dataMax.getMonth() + 1;
        var ano = dataMax.getFullYear();

        if(mes < 10){
            mes = '0' + (dataMax.getMonth() + 1);
        }

        if(dia < 10){
            dia = '0' + dataMax.getDate();
        }

        var hoje = ano + '-' + mes + '-' + dia;

        function dataMaxima(){
            document.getElementById("busca_data1").max = hoje;
            document.getElementById("busca_data2").max = hoje;
        }

    </script>
    <link rel="stylesheet" href="{% static 'css/css_paginas.css' %}">
</head>

<body>

<!--Título-->
<div class="col-12 pt-4">
    <p class="h1">PESQUISA</p>
</div>

<div class="row m-auto">
    <!--Formulário de pesquisa-->
    <div class="jumbotron col-lg-4 col-md-12 col-sm-12 col-12">
        <form name="formpesquisa" id="form-pesquisa" method="GET" action="/pesquisa/">
            {%csrf_token%}
            <div class="form-group">
                <label>Número de identificação: </label>
                <input type="number" min=0 name="busca_numero" id="busca_numero" class="form-control">
            </div>
            <div class="form-group">
                <p>Tipo de serviço: </p>
                <div class="form-check form-check-inline">
                    <input type="checkbox" id="busca_servico_desenv" name="busca_servico_desenv" class="form-check-input" value="Desenvolvimento"><label for="busca_servico_desenv" class="form-check-label">Desenvolvimento</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" id="busca_servico_its" name="busca_servico_its" class="form-check-input" value="ITS"><label for="busca_servico_its" class="form-check-label">ITS</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" id="busca_servico_sd" name="busca_servico_sd" class="form-check-input" value="Service Desk"><label for="busca_servico_sd" class="form-check-label">Service Desk</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" id="busca_servico_sup" name="busca_servico_sup" class="form-check-input" value="Suporte"><label for="busca_servico_sup" class="form-check-label">Suporte</label>
                </div>
            </div>
            <div class="form-group">
                <p>Cliente: </p>
                {%for cli in clientes%}
                    <div class="form-check form-check-inline">
                        <input type="checkbox" id="busca_cliente_{{cli.id}}" name="busca_cliente_{{cli.id}}" class="form-check-input" value="{{cli.id}}"><label for="busca_cliente_{{cli.id}}" class="form-check-label">{{cli.nome}}</label>
                    </div>
                {%endfor%}
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label>Data inicial: </label>
                    <input type="date" name="busca_data_emissao1" id="busca_data1" class="form-control" onclick="dataMaxima()">
                </div>
                <div class="form-group col-6">
                    <label>Data final: </label>
                    <input type="date" name="busca_data_emissao2" id="busca_data2" class="form-control" onclick="dataMaxima()">
                </div>
            </div>
            <div class="form-group">
                <p>Empresa</p>
                {%for emp in empresas%}
                    <div class="form-check form-check-inline">
                        <input type="checkbox" id="busca_empresa_{{emp.id}}" name="busca_empresa_{{emp.id}}" class="form-check-input" value="{{emp.id}}"><label for="busca_empresa_{{emp.id}}" class="form-check-label">{{emp.nome}}</label>
                    </div>
                {%endfor%}
            </div>
            <input type="submit" class="btn btn-success" name="submit" value="Pesquisar">
            <a href="/pesquisa/searchall/" type="submit" class="btn btn-primary">Mostrar tudo</a>
        </form>
    </div>
    <div class="clearfix visible-sm-block"></div>
    <div class="container-fluid col-lg-8 col-md-12 col-sm-12 col-12">
        <!--Exibe mensagem de erro-->
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger text-center">{{ message }}</div>
        {% else %}
        <div class="alert alert-success text-center">{{ message }}</div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="table-responsive">
            <!--Tabela de atestados-->
            <table class="table border col-12">
                <thead class="thead-dark text-center">
                <tr>
                    <th scope="col">Número de atestado</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Data de emissão</th>
                    <th scope="col">Tipo de serviço</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Arquivo</th>
                    <th scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                {%if paginas%}
                {%for linhas in paginas%}
                <tr>
                    <th scope="row">{{linhas.numero_documento}}</th>
                    <td>{{linhas.cliente}}</td>
                    <td>{{linhas.data_emissao}}</td>
                    <td>{{linhas.tipo_de_servico}}</td>
                    <td>{{linhas.empresa}}</td>
                    <td><a href="{{linhas.documento_pdf.url}}" class="btn btn-primary btn-sm" target="_blank">Download PDF</a></td>
                    <td>
                        <a href="/pesquisa/view/{{linhas.id}}/" class="btn btn-link">Visualizar cadastro</a>
                    </td>
                </tr>
                {%endfor%}
                {% else %}
                <tr class="text-center">
                    <th scope="row">
                    <td colspan="4">Não contém nenhum registro</td>
                </tr>
                {%endif%}
                </tbody>
            </table>
        </div>
        <!--Paginação-->
        {%if paginas.has_other_pages%}
        <nav>
            <ul class="pagination justify-content-end">
                <li class="page-item">
                    {%if paginas.has_previous%}
                    <a href="{% minha_url paginas.previous_page_number 'page' request.GET.urlencode %}" class="page-link"> Anterior </a>
                    {%endif%}
                </li>
                <li class="page-item"><a class="page-link">{{paginas.number}}</a></li>
                <li class="page-item">
                    {%if paginas.has_next%}
                    <a href="{%minha_url paginas.next_page_number 'page' request.GET.urlencode %}" class="page-link"> Próximo </a>
                    {%endif%}
                </li>
            </ul>
        </nav>
        {%endif%}
    </div>
</div>
<script src="{%static 'javascript.js'%}"></script>
</body>
</html>
