<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Atestados</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

<!--Barra de navegação-->
{%include "model-nav.html"%}

<!--Título-->
<div class="col-8 m-auto pt-3 pb-2 text-center">
    <h1>{%if db%}Atestado #{{db.id}}{%else%}Atestado #{{dados.id}}{%endif%}</h1>
</div>

<!--Container do formulário de visualização-->
 <div class="container">
    <div class="col-12 m-auto pt-2 pb-2">
        <form name="form" id="form" action="/view/{{db.id}}" method="post">
            <div class="form-group row">
                <label for="numestatico" class="col-3 col-form-label">Número do documento: </label>
                <div class="col-sm-6 border">
                    <input type="text" readonly class="form-control-plaintext" id="numestatico" value="{{db.numero_documento}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="cnpjestatico" class="col-3 col-form-label">Cliente: </label>
                <div class="col-sm-6 border">
                    <input type="text" readonly class="form-control-plaintext" id="cnpjestatico" value="{{db.cliente.nome}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="dataestatico" class="col-3 col-form-label">Data de emissão: </label>
                <div class="col-sm-6 border">
                    <input type="text" readonly class="form-control-plaintext" id="dataestatico" value="{{db.data_emissao}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="servicoestatico" class="col-sm-3 col-form-label">Tipo de serviço: </label>
                <div class="col-sm-6 border">
                    <input type="text" readonly class="form-control-plaintext" id="servicoestatico" value="{{db.tipo_de_servico}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="empresaestatico" class="col-sm-3 col-form-label">Empresa: </label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control-plaintext border" id="empresaestatico" value="{{db.empresa.nome}}">
                </div>
            </div>
            {%if db%}
                <a href="/pesquisa/" class="btn btn-primary">Voltar</a>
                {%if db.user == request.user%}
                    <a href="/edit/{{db.id}}" class="btn btn-warning">Editar</a>
                    <a href="/delete/{{db.id}}" class="btn btn-danger btnDel">Excluir</a>
                {%endif%}
            {%endif%}
        </form>
    </div>
</div>
{%load static%}
<script src="{%static 'javascript.js'%}"></script>
</body>
</html>